/*
Colors:
[lighter origin darker]
- primary: #e98765 #dd4814 #b53b11
- secondary: #bae4e4 #93d6d5 #79b0af
- light gray: #f3f6f8 #edf2f4 #c2c7c8
- middle gray: #b4bcc9 #8d99ae #747e8f
- dark gray: #747583 #2b2d42 #242537
*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  color: #242537;
  font-family: 'Open Sans';
}

.header {
  margin: 16px 40px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Slab';
  margin: 8px 0px 16px;
}

.h1, .h2, .h3 {
  color: #dd4814;
}

.link {
  color: #dd4814;
  text-decoration: none;
}

.link:hover {
  color: #b53b11;
  text-decoration: underline;
}

.input {
  height: 40px;
  border: none;
  background-color: #f3f6f8;
  padding: 0 16px;
  font-family: 'Roboto Slab';
  font-size: 18px;
  transition: box-shadow 0.25s;
}

.input:focus {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s;
}

.input:disabled::-moz-placeholder { color: #c2c7c8; }

.input::-webkit-input-placeholder { color: #747e8f; }
.input::-moz-placeholder { color: #747e8f; }
.input:-ms-input-placeholder { color: #747e8f; }

.button,
.button-raised {
  padding: 0px 16px;
  height: 40px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.25s;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #edf2f4;
  transition: background-color 0.25s;
}

.button:disabled {
  color: #747e8f;
  background-color: #f3f6f8;
}

.button.button-primary {
  color: #dd4814;
}

.button.button-secondary {
  color: #93d6d5;
}

.button-raised {
  color: #f3f6f8;
  background-color: #8d99ae;
  border-bottom: 2px solid #747e8f;
}

.button-raised:hover,
.button-raised:focus,
.button-raised:active {
  background-color: #b4bcc9;
  border-bottom-color: #8d99ae;
  transition: background-color 0.25s;
}

.button-raised:disabled {
  color: #747e8f;
  background-color: #f3f6f8;
  border-bottom-color: #c2c7c8;
}

.button-raised.button-primary {
  background-color: #dd4814;
  border-bottom-color: #b53b11;
}

.button-raised.button-primary:hover,
.button-raised.button-primary:focus,
.button-raised.button-primary:active {
  background-color: #e98765;
  border-bottom-color: #dd4814;
  transition: background-color 0.25s;
}

.button-raised.button-secondary {
  background-color: #93d6d5;
  border-bottom-color: #79b0af;
}

.button-raised.button-secondary:hover,
.button-raised.button-secondary:focus,
.button-raised.button-secondary:active {
  background-color: #bae4e4;
  border-bottom: 2px solid #93d6d5;
  transition: background-color 0.25s;
}

.toggle {
  width: 46px;
  height: 24px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  width: 32px;
  height: 16px;
  margin-left: 12px;
  margin-top: 4px;
  border-radius: 8px;
  background-color: #edf2f4;
  transition: background-color 0.25s;
}

.toggle-label::before {
  content: ' ';
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #c2c7c8;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s, margin-left 0.25s;
}

.toggle-input:checked + .toggle-label {
  background-color: #e98765;
  transition: background-color 0.25s;
}

.toggle-input:checked + .toggle-label::before {
  margin-left: 20px;
  background-color: #dd4814;
  transition: background-color 0.25s, margin-left 0.25s;
}

.search-field {
  display: flex;
}

.search-field > .button-raised {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ticket-container {
  width: 180px;
  height: 380px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.ticket {
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  box-sizing: border-box;
  background-color: #f3f6f8;
  mask: url(../img/bezkassira/ticket.svg);
  display: flex;
  flex-direction: column;
}

.ticket-poster {
  width: 180px;
  height: 260px;
  margin-bottom: 16px;
  background-image: url(../img/bezkassira/poster-2.jpg);
  background-size: 110%;
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  transition: blur 0.25s;
}

.ticket-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 240px;
  position: absolute;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #c2c7c8;
  outline: rgba(255, 255, 255, 0.9) solid 11px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.ticket:hover > .ticket-overlay {
  opacity: 1;
  transition: opacity 0.25s;
}

.ticket:hover > .ticket-poster {
  filter: blur(2px);
  transition: blur 0.25s;
}

.text {
  margin: 4px 0px 12px;
}