/*
Colors:
  [lighter origin darker]
  - primary: #e98765 #dd4814 #b53b11
  - secondary: #bae4e4 #93d6d5 #79b0af
  - light gray: #f3f6f8 #edf2f4 #c2c7c8
  - middle gray: #b4bcc9 #8d99ae #747e8f
  - dark gray: #747583 #2b2d42 #242537
*/

/* GENERAL */
.container {
  max-width: 1280px;
  margin: 0 auto;
  color: #242537;
  font-family: 'Open Sans';
  font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  margin: 8px 0px 16px;
}

.h1, .h2, .h3 {
  color: #dd4814;
}

.h1-dark, .h2-dark, .h3-dark {
  color: #79b0af;
}

.h1 {
  font-size: 2.25rem;
}

.h2 {
  font-size: 1.875rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.125rem;
}

.h5 {
  font-size: 1rem;
}

.h6 {
  font-size: 0.875rem;
}

.text {
  margin: 4px 0px 12px;
}

.link {
  color: #dd4814;
  text-decoration: none;
}

.link:hover {
  color: #b53b11;
  text-decoration: underline;
}

.link-dark {
  color: #93d6d5;
}

.link-dark:hover {
  color: #79b0af;
}

.link-light {
  color: #c2c7c8;
}

.link-light:hover {
  color: #b4bcc9;
}

.link-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
}

.link-social > svg {
  width: 40px;
  height: 40px;
  fill: #b4bcc9;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.link-social > svg:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}
/* END GENERAL */

/* ELEMENTS */
.input {
  height: 40px;
  border: none;
  background-color: #f3f6f8;
  padding: 0 16px;
  font-family: 'Roboto Slab';
  font-size: 18px;
  transition: box-shadow 0.25s;
}

.input:focus {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s;
}

.input::-webkit-input-placeholder { color: #747e8f; }
.input::-moz-placeholder { color: #747e8f; }
.input:-ms-input-placeholder { color: #747e8f; }

.input:disabled::-webkit-input-placeholder { color: #c2c7c8; }
.input:disabled::-moz-placeholder { color: #c2c7c8; }
.input:disabled:-ms-input-placeholder { color: #c2c7c8; }

.button,
.button-raised {
  padding: 0px 16px;
  height: 40px;
  line-height: 0;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.25s;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #edf2f4;
  transition: background-color 0.25s;
}

.button:disabled {
  color: #747e8f;
  background-color: #f3f6f8;
}

.button.button-primary {
  color: #dd4814;
}

.button.button-secondary {
  color: #93d6d5;
}

.button-raised {
  color: #f3f6f8;
  background-color: #8d99ae;
  border-bottom: 2px solid #747e8f;
}

.button-raised:hover,
.button-raised:focus,
.button-raised:active {
  background-color: #b4bcc9;
  border-bottom-color: #8d99ae;
  transition: background-color 0.25s;
}

.button-raised:disabled {
  color: #747e8f;
  background-color: #f3f6f8;
  border-bottom-color: #c2c7c8;
}

.button-raised.button-primary {
  background-color: #dd4814;
  border-bottom-color: #b53b11;
}

.button-raised.button-primary:hover,
.button-raised.button-primary:focus,
.button-raised.button-primary:active {
  background-color: #e98765;
  border-bottom-color: #dd4814;
  transition: background-color 0.25s;
}

.button-raised.button-secondary {
  background-color: #93d6d5;
  border-bottom-color: #79b0af;
}

.button-raised.button-secondary:hover,
.button-raised.button-secondary:focus,
.button-raised.button-secondary:active {
  background-color: #bae4e4;
  border-bottom: 2px solid #93d6d5;
  transition: background-color 0.25s;
}

.button-big {
  height: 56px;
  padding: 0px 24px;
  font-size: 24px;
}

.toggle {
  width: 46px;
  height: 24px;
  padding-right: 10px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  width: 32px;
  height: 16px;
  margin: 4px 12px;
  border-radius: 8px;
  background-color: #edf2f4;
  transition: background-color 0.25s;
}

.toggle-label::before {
  content: ' ';
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #c2c7c8;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s, margin-left 0.25s;
}

.toggle-input:checked + .toggle-label {
  background-color: #e98765;
  transition: background-color 0.25s;
}

.toggle-input:checked + .toggle-label::before {
  margin-left: 20px;
  background-color: #dd4814;
  transition: background-color 0.25s, margin-left 0.25s;
}

.search-field {
  display: flex;
}

.search-field > .button-raised {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* END ELEMENTS */

/* COMPONENTS */
/* Header */
.header {
  /* height: 100px; */
  padding: 16px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header__logo {
  background-image: url(http://bezkassira.by/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 68px;
  width: 160px;
}

.header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.header__navigation {
  margin-bottom: 12px;
  line-height: 16px;
}

.header__link {
  padding: 0px 12px;
}

.header__language-toggle {
  display: flex;
}

.header__language-toggle > .toggle {
  margin: 0px 4px;
}

@media screen and (max-width: 720px) {
  .header {
    padding: 16px;
  }

  .header__navigation {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .header {
    align-items: center;
  }

  .header__aside {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 8px 16px;
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 16px;
  }

  .header__center {
    transform: scale(0.9);
  }
}
/* End Header */

/* Navigation */
.navigation {
  background-color: #dd4814;
  display: flex;
  justify-content: center;
}

.navigation__link {
  display: inline-block;
  line-height: 56px;
  padding: 0px 12px;
  color: #f3f6f8;
  transition: background-color 0.5s ease;
}

.navigation__link:hover {
  color: #f3f6f8;
  background-color: #b53b11;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.navigation__link.collapsable {
  display: none;
}

.collapsable__checkbox {
  display: none;
}

@media screen and (max-width: 480px) {
  .navigation {
    flex-direction: column;
  }

  .navigation__link {
    text-align: center;
  }

  .navigation__link:not(.collapsable) {
    display: none;
  }

  .navigation__link.collapsable {
    display: inline-block;
  }

  .navigation__link.collapsable::before {
    font-family: 'Material Icons';
    content: 'expand_more';
    font-size: 24px;
    position: absolute;
    right: 24px;
    transition: transform 0.5s ease;
  }

  .collapsable__checkbox:checked ~ .navigation__link{
    display: inline-block;
  }
  .collapsable__checkbox:checked ~ .navigation__link.collapsable {
    background-color: #b53b11;
    transition: background-color 0.5s ease;
  }

  .collapsable__checkbox:checked ~ .navigation__link.collapsable::before {
    transform: rotate(-180deg);
    transition: transform 0.5s ease;
    /* content: 'expand_less'; */
  }
}
/* End Navigation */

/* Ticket */
.ticket {
  width: 180px;
  height: 380px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  display: inline-block;
}

.ticket__content {
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  box-sizing: border-box;
  background-color: #f3f6f8;
  mask: url(../img/bezkassira/ticket.svg) left top / contain;
  -webkit-mask: url(../img/bezkassira/ticket.svg) left top / contain;
  display: flex;
  flex-direction: column;
}

.ticket__poster {
  width: 180px;
  height: 260px;
  margin-bottom: 16px;
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  transition: blur 0.25s;
}

.ticket__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 240px;
  position: absolute;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #c2c7c8;
  outline: rgba(255, 255, 255, 0.9) solid 11px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.25s;
  z-index: 1;
}

.ticket__content:hover > .ticket__overlay {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.25s;
}

.ticket__content:hover > .ticket__poster {
  filter: blur(2px);
  transition: blur 0.25s;
}
/* End Ticket */

/* Banner */
.banner {
  max-width: 1280px;
  margin: auto;
}

.banner__ticket {
  position: relative;
}

.banner__ticket__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 40px;
  height: 100%;
  color: #c2c7c8;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.banner__ticket__nav:first-child {
  left: 0px;
}

.banner__ticket__nav:last-child {
  right: 0px;
}

.banner__ticket__container {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.banner__ticket__content {
  display: flex;
  align-items: center;
}

.banner__ticket__poster {
  width: 100vw;
  height: 40vw;
  max-width: 1000px;
  max-height: 400px;
}

.banner__ticket__poster-fadeOut {
  opacity: 0;
  transition: all 0.25s ease;
}

.banner__ticket__poster-fadeIn {
  opacity: 1;
  transition: all 0.25s ease;
}

.banner__ticket__ornament {
  display: none;
}

.banner__ticket__details {
  display: none;
  max-width: 280px;
  max-height: 400px;
}

.banner__dots {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.banner__dots__dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0px 4px;
  background-color: #b4bcc9;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.banner__dots__dot-active {
  background-color: #747e8f;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 640px) {
  .banner {
    margin: 24px auto;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    margin: 40px auto;
  }

  .banner__ticket__nav {
    background-color: transparent;
  }

  .banner__ticket__nav:first-child {
    justify-content: flex-start;
  }

  .banner__ticket__nav:last-child {
    justify-content: flex-end;
  }

  .banner__ticket__content {
    mask: url(../img/bezkassira/banner.svg) center / cover;
    -webkit-mask: url(../img/bezkassira/banner.svg) center / cover;
    background-color: #f3f6f8;
  }

  .banner__ticket__poster {
    width: 75vw;
    height: 30vw;
  }

  .banner__ticket__ornament {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: url(../img/bezkassira/arnament.png) center / cover;
    background-color: #ffffff;
    margin: 0px -23px;
    z-index: 1;
  }

  .banner__ticket__details {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vw;
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: #f3f6f8;
  }

  .banner__ticket__details-secondary {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
  }
  
  .banner__ticket__details__name {
    margin: 16px 0px;
  }
  
  .banner__ticket__details-secondary__date,
  .banner__ticket__details-secondary__place,
  .banner__ticket__details-secondary__price {
    font-size: 24px;
    line-height: 24px;
    margin: 8px 36px 16px 8px;
  }
  
  .banner__ticket__details-secondary__date::before,
  .banner__ticket__details-secondary__place::before,
  .banner__ticket__details-secondary__price::before {
    font-family: 'Material Icons';
    color: #c2c7c8;
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .banner__ticket__details-secondary__date::before {
    content: 'date_range';
  }
  
  .banner__ticket__details-secondary__place::before {
    content: 'location_on';
  }
  
  .banner__ticket__details-secondary__price::before {
    content: 'attach_money';
  }
  
  .banner__ticket__details__cta-button {
    margin: auto auto 24px;
  }
}

@media screen and (min-width: 1280px) {
  .banner__content {
    height: 400px;
  }
}
/* End Banner */

/* Footer */
.footer {
  background-color: #747583;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
}

.footer__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__navigation-block {
  margin-right: 56px;
}

.footer__navigation-block > h3 {
  margin: 0px 0px 24px 0px;
}

.footer__navigation__links {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer__navigation__link {
  margin-bottom: 8px;
}

.footer__aside > .link {
  margin-bottom: 16px;
}

.footer__socials {
  height: 40px;
}

.footer__socials > .link-social {
  margin: 0px 12px;
}

.footer__socials > .link-social:first-child {
  margin-left: 0px;
}

.footer__socials > .link-social:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 320px) and (max-width: 860px) {
  .footer__navigation-block {
    margin: 0px 24px 24px 0px;
  }

  .footer__navigation-block > .h3 {
    margin-bottom: 16px;
  }

  .footer__aside {
    align-items: flex-start;
  }

  .footer__socials > .link-social {
    margin-right: 16px;
  }
}
/* End Footer */

/* Footer Secondary */
.footer__secondary {
  background-color: #242537;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  color: #747583;
  margin: 0px;
  line-height: 40px;
}

@media screen and (max-width: 860px) {
  .footer__payments {
    display: none;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
  }
}
/* End Footer Secondary */
/* END COMPONENTS */

/* LAYOUT */
.tickets {
  margin-bottom: 40px;
}

.tickets > .h2 {
  text-align: center;
  position: sticky;
  top: -1px;
  line-height: 56px;
  z-index: 1;
  background-color: #ffffff;
  margin: 0px 0px 24px 0px;
}

.tickets > .h2::before,
.tickets > .h2::after {
  content: ' ';
  background-image: url(../img/bezkassira/header-dots.png);
  height: 4px;
  width: 44px;
  display: inline-block;
  margin: 8px 16px;
}

.tickets__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
  .tickets > .h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 320px) {
  .tickets__row > .ticket {
    margin: 0px 20px 40px 20px;
  }
}

@media screen and (min-width: 480px) {
  .tickets__row > .ticket:nth-child(2n) {
    margin-left: 20px;
  }

  .tickets__row > .ticket:nth-child(2n-1) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 640px) {
  .tickets__row > .ticket:nth-child(3n-2) {
    margin: 0px 20px 40px 0px;
  }

  .tickets__row > .ticket:nth-child(3n-1) {
    margin: 0px 20px 40px 20px;
  }

  .tickets__row > .ticket:nth-child(3n),
  .tickets__row > .ticket:last-child {
    margin: 0px 0px 40px 20px;
  }

  .tickets__row > .ticket:nth-child(3n) {
    page-break-after: always;
  }
}

@media screen and (min-width: 1024px){
  .tickets__row > .ticket:nth-child(n) {
    margin: 0px 20px 40px 20px;
  }
}

@media screen and (min-width: 1360px){
  .tickets__row > .ticket:nth-child(6n-5),
  .tickets__row > .ticket:first-child {
    margin-left: 0px;
  }

  .tickets__row > .ticket:nth-child(6n),
  .tickets__row > .ticket:last-child {
    margin-right: 0px;
  }

  .tickets__row > .ticket:nth-child(6n-3),
  .tickets__row > .ticket:nth-child(6n-2) {
    margin: 0px 20px 40px 20px;
  }

  .tickets__row > .ticket:nth-child(3n) {
    page-break-after: auto;
  }
}
/* END LAYOUT */
